# Âõ†Â≠êÂÄº‰∏éËÇ°Á•®ÊòéÂ§©ÁöÑÊî∂ÁõäÔºü

# ËøòËÆ∞ÂæóÊàë‰ª¨ÁöÑÁ¨¨‰∏ÄÈõÜÁöÑËÇ°‰ª∑È¢ÑÊµãÂêóÔºü
<!-- Êàë‰ª¨Áî®‰∫ÜÂæàÂ§öÁöÑÊåáÊ†áÔºå‰ΩÜÊòØÊàë‰ª¨Âπ∂Ê≤°ÊúâÂéªÈ™åËØÅËøô‰∫õÊåáÊ†áÁöÑÊúâÊïàÊÄßÔºåÈÇ£‰πàËøô‰∏ÄÈõÜÊàë‰ª¨Â∞±Êù•È™åËØÅ‰∏Ä‰∏ãËøô‰∫õÊåáÊ†áÁöÑÊúâÊïàÊÄß„ÄÇ -->


---
### Âõ†Â≠êÂÆûÊàò Á¨¨‰∫îÈõÜ 
# ÊâìÈÄ†‰Ω†ÁöÑÂØπÂÜ≤Âü∫ÈáëÔºöÁî®PythonÂÆûÁé∞È´òÁ∫ßÂØπÂÜ≤Á≠ñÁï•Ôºà3Ôºâ
## Êé¢ÁßòÂõ†Â≠êÁªüËÆ°Â≠¶ÁöÑËß£ÈáäÊÄß

### üé¨ @Â§ßÂØºÊºîÂìàÁΩóÂæ∑
### üèõ È¶ôÊ∏Ø‰∏≠ÊñáÂ§ßÂ≠¶ ÈáëËûçÂ∑•Á®ã Êú¨Áßë
### üìà Âç≥Â∞ÜÂâçÂæÄÁæéÂõΩÈáëËûçÂ∑•Á®ãÁ°ïÂ£´‰πãË∑ØÔºàÂ∑≤ÁªèËé∑ÂæóÂΩïÂèñÔºâ
### üåê [ÂÖ≥Ê≥®ÊàëÁöÑBilibiliÔºåÁúãÊâÄÊúâ‰∫∫ÈÉΩËÉΩÂê¨ÂæóÊáÇÊúâÊî∂Ëé∑ÁöÑÈáèÂåñÂ≠¶‰π†ÂÜÖÂÆπÔºÅ](https://space.bilibili.com/629573485)

üåüüåüüåü ‰∏ÄËµ∑Êè≠ÂºÄÈáèÂåñÁöÑÁ•ûÁßòÈù¢Á∫±ÔºÅ#ÂìàÁΩóÂæ∑ÁöÑ‰∫ÆÂåñÈ¢ëÈÅìüåü

---

ËØªÂèñÊï∞ÊçÆ

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import datetime

In [2]:
df_mkt = pd.read_excel('Monthly_Market_Value_and_Return.xlsx', index_col=0) 
df_mkt.reset_index(inplace=True)
df_mkt['stock'] = df_mkt['stock'].map(lambda x: str(x).zfill(6))
unique_dates = df_mkt['date'].unique()
unique_dates.sort()
unique_dates_nochange = unique_dates.copy()
unique_dates = [datetime.strptime(date, "%Y-%m") for date in unique_dates]
portfolio_returns = {f'portfolio_{i}': [] for i in range(1, 6)}

df = df_mkt

for date in unique_dates_nochange:
    df_date = df[df['date'] == date]
    if df_date.empty:
        continue
    
    thresholds = np.percentile(df_date['value_in_thousand'], [20, 40, 60, 80, 100])
    for i in range(5):
        if i == 0:
            portfolio = df_date[df_date['value_in_thousand'] <= thresholds[i]]
        else:
            portfolio = df_date[(df_date['value_in_thousand'] > thresholds[i-1]) & (df_date['value_in_thousand'] <= thresholds[i])]
        if portfolio.empty:
            portfolio_return = 0 
        else:
            if not np.isnan(portfolio['next_month_return'].mean()):
                portfolio_return = portfolio['next_month_return'].mean()

        portfolio_returns[f'portfolio_{i+1}'].append(portfolio_return)

hedge_returns = []
for i in range(len(portfolio_returns['portfolio_1'])):
    hedge_return = portfolio_returns['portfolio_1'][i] - portfolio_returns['portfolio_5'][i]
    hedge_returns.append(hedge_return)

average_returns = {portfolio: np.mean(returns) for portfolio, returns in portfolio_returns.items()}
average_hedge_return = np.mean(hedge_returns)

# ÊâìÂç∞ÁªìÊûú
print("Average Returns by Portfolio:")
for portfolio, average_return in average_returns.items():
    print(f"{portfolio}: {average_return}")

print(f"Average Hedge Return: {average_hedge_return}")

Average Returns by Portfolio:
portfolio_1: 0.03632338665770842
portfolio_2: 0.0209551217564462
portfolio_3: 0.01726534987882018
portfolio_4: 0.014766130366628655
portfolio_5: 0.012561872521888598
Average Hedge Return: 0.023761514135819815

In [3]:
hedge_returns

[-0.08470671268656715,
 0.03887293584905659,
 -0.06181304135338346,
 -0.0631031515151515,
 0.44565036015325665,
 0.055511378906250006,
 0.076745,
 -0.004596515267175572,
 0.046115068702290075,
 -0.03239070483133219,
 -0.14477963295880153,
 -0.0898985888888889,
 0.06386219413919417,
 0.17187434731115692,
 0.1655050845588235,
 0.022197353790613716,
 0.06864116725978646,
 -0.1442391094890511,
 0.10581406859205778,
 0.02646128776978418,
 -0.03362237234042553,
 -0.08557337234042553,
 0.15943493664975644,
 0.03087467368421054,
 0.04835371180555555,
 0.08164946917808219,
 0.049691647260273974,
 -0.1156161843003413,
 0.06389523469387756,
 -0.007008798657718113,
 0.09571214473684211,
 -0.004692326303989192,
 -0.07564928246753248,
 0.033560177419354825,
 0.07521826683369873,
 0.1149865145631068,
 0.020068660256410242,
 0.0686622134347432,
 0.06707708626198083,
 0.06279507667731629,
 0.04946440392950897,
 0.003032951768488723,
 -0.05047491693290737,
 0.0796321214057508,
 0.0016474190476190517,
 0.028083094339622666,
 0.07219552351097178,
 0.05047274906638804,
 0.06153171534686173,
 0.054930693009118556,
 0.06593717717717719,
 0.0072988189910979245,
 -0.002934211764705874,
 0.0035511842105263175,
 0.03768969245056722,
 0.061091936062218584,
 -0.008108575498575502,
 -0.07320480960249268,
 0.0725694593837535,
 -0.011631,
 0.008366019021739127,
 0.03458798918918919,
 0.05278675335120644,
 0.004597098666666667,
 0.011581256227807965,
 0.017184272123801143,
 0.02959345811518324,
 0.031434945454545456,
 0.0044723149961571895,
 0.0034219738112636344,
 0.028261865834501736,
 -0.09120527833965172,
 0.0018688442211055277,
 0.05808024623115578,
 0.006602022499999999,
 0.0218083296914929,
 -0.003418741806500751,
 0.013977241379310341,
 -0.029309701711491443,
 0.09565899757281554,
 -0.017782979050426362,
 0.03999747469879518,
 -0.02653866987951807,
 -0.012261899280575556,
 0.01521731730769231,
 0.023184710796810427,
 0.04169984855769231,
 -0.012923146634615388,
 0.047747701923076896,
 0.001958447115384593,
 0.05240973464938057,
 0.04346117149758455,
 -0.00989223356032827,
 0.023596939467312346,
 0.052139089588377714,
 0.012607087167070211,
 0.05133569565217391,
 0.07836521582733813,
 0.06506719759036145,
 0.027571522891566266,
 0.06304108272506084,
 0.04497938518518518,
 0.03871616256157637,
 0.07744876470588237,
 0.11722567804878048,
 0.016473806763285023,
 -0.01307484313725489,
 -0.2004112567237164,
 0.0929469704008341,
 0.035323501204819294,
 0.07478010948905112,
 0.05906685645933016,
 0.24772961848341232,
 0.08268546756762842,
 0.04981720714285712,
 0.06808236430317849,
 0.04829458808933003,
 0.12005624932693146,
 0.15463032598039217,
 0.10362475656324585,
 0.0030452574712643843,
 0.03462223707720761,
 0.08264546187915214,
 0.09693472209567199,
 -0.027818901601830665,
 0.07349950229357798,
 0.013185266514806386,
 0.06083097091722595,
 0.08760482177323253,
 0.034228341356673964,
 0.03926254901960785,
 0.07439708993576016,
 -0.007895390453112125,
 0.0455355516521495,
 -0.02080963389121339,
 -0.07031419547325103,
 -0.0508391836734694,
 -0.008385957403651119,
 -0.03414271370967742,
 0.03569894810379241,
 0.011411136904761903,
 -0.00821247480620155,
 -0.05364977263969171,
 -0.018702098671726754,
 -0.045179324745871524,
 -0.03173879661016948,
 0.10310648754743833,
 -0.0133506419047619,
 -0.0014306948977005247,
 -0.027983395054239732,
 0.0309595004080067,
 -0.007803237918215633,
 -0.007554165638748819,
 0.0280982405063291,
 0.06941980969479354,
 0.0100773487544484,
 -0.06054586637795771,
 0.04277276719576717,
 0.03399676584507043,
 0.003306985940246046,
 0.02931013532513181,
 -0.02479643333333333,
 -0.021495903999240687,
 -0.014756266457364626,
 0.010912172743523709,
 -0.009676638260869565,
 -0.0039032638888888867,
 0.014430385749378341,
 -0.02196591882556131,
 -0.023926569948186524,
 0.07933890517241379,
 -0.0643414561101549,
 -0.003298500857632931,
 -0.035030931389365354,
 -0.02780462966074501,
 0.026569053602993636,
 -0.004126038099623017,
 -0.0030601879194630853,
 0.004619150501672248,
 -0.08028657666666666,
 -0.08347289614963603,
 0.050355130148270186,
 0.07910937006578948,
 -0.005483381967213118,
 0.019365967373572587,
 0.04482089783303016,
 0.0054794788624517,
 0.014897731653828447,
 -0.006437649517684888,
 -0.010292583454233032,
 0.09191716386410256,
 0.06491351437699681,
 0.050055961722488045,
 0.023067391719745214,
 0.0809042480127186,
 0.0]

---

# Âõ†Â≠ê...?

‰Ω†ÂìàÁΩóÂæ∑‰∏çÊòØËØ¥ÔºåÂèØ‰ª•Ê†πÊçÆ‰∏Ä‰∏™Âõ†Â≠êÁ°ÆÂÆö‰∏Ä‰∏™ËÇ°Á•®ÁöÑÊ∂®Ë∑åÂêóÔºü

---

ÂìàÁΩóÂæ∑ÂèåÂõ†Â≠ê

In [4]:
SMB_monthly = pd.DataFrame(hedge_returns, unique_dates_nochange,columns=['SMB_monthly'])

pd.DataFrame(hedge_returns, unique_dates_nochange,columns=['SMB_monthly'])

         SMB_monthly
2005-12    -0.084707
2006-01     0.038873
2006-02    -0.061813
2006-03    -0.063103
2006-04     0.445650
...              ...
2021-11     0.064914
2021-12     0.050056
2022-01     0.023067
2022-02     0.080904
2022-03     0.000000

[196 rows x 1 columns]

In [5]:
df_mkt

         stock     date  value_in_thousand  monthly_return  next_month_return
0       000001  2005-12        11947347.99        0.051370           0.034202
1       000001  2006-01        12355970.65        0.034202           0.077165
2       000001  2006-02        13309423.50        0.077165          -0.068713
3       000001  2006-03        12394887.09       -0.068713           0.237049
4       000001  2006-04        15333078.53        0.237049           0.114213
...        ...      ...                ...             ...                ...
419256  605599  2021-11         9636666.94        0.061697           0.086360
419257  605599  2021-12        10468889.19        0.086360          -0.116642
419258  605599  2022-01         9247778.04       -0.116642           0.105971
419259  605599  2022-02        10227778.07        0.105971          -0.170342
419260  605599  2022-03         8485555.80       -0.170342                NaN

[419261 rows x 5 columns]

In [29]:
MKT = df_mkt.groupby('date')['monthly_return'].mean()
MKT_monthly = pd.DataFrame(MKT)
MKT_monthly

         monthly_return
date
2005-12        0.027441
2006-01        0.088975
2006-02        0.032761
2006-03        0.011739
2006-04        0.088626
...                 ...
2021-11        0.081611
2021-12        0.048813
2022-01       -0.082702
2022-02        0.049878
2022-03       -0.037078

[196 rows x 1 columns]

Áé∞Âú®Êàë‰ª¨Êúâ‰∫ÜÊØè‰∏™ÊúàÁöÑ MKT factor Âíå SMB factor ÁöÑÂÄº
### ÂØπ‰∫é‰ªª‰Ωï‰∏Ä‰∏™ËÇ°Á•®ÔºåËøô‰∏™ËÇ°Á•®ÊØè‰∏™ÊúàÁöÑÊî∂ÁõäÔºåÊàëÂèØ‰ª•ÂàÜËß£‰∏∫ R = A1 * MKT factor + A2 * SMB factor + alpha

In [30]:
test_stock_code = '600000' #Êµ¶ÂèëÈì∂Ë°å
test_stock = df_mkt[df_mkt['stock'] == test_stock_code]
test_stock

         stock     date  value_in_thousand  monthly_return  next_month_return
208370  600000  2005-12       3.817125e+07        0.106697           0.155897
208371  600000  2006-01       4.412205e+07        0.155897           0.081633
208372  600000  2006-02       4.772385e+07        0.081633          -0.109106
208373  600000  2006-03       4.251690e+07       -0.109106           0.209055
208374  600000  2006-05       3.903255e+07        0.209055          -0.006018
...        ...      ...                ...             ...                ...
208560  600000  2021-11       2.497869e+08       -0.048098           0.002350
208561  600000  2021-12       2.503740e+08        0.002350          -0.014068
208562  600000  2022-01       2.468517e+08       -0.014068          -0.002378
208563  600000  2022-02       2.462647e+08       -0.002378          -0.046484
208564  600000  2022-03       2.348173e+08       -0.046484                NaN

[195 rows x 5 columns]

In [41]:
X = pd.concat([SMB_monthly['SMB_monthly'], MKT_monthly['monthly_return']],axis= 1)
X

         SMB_monthly  monthly_return
2005-12    -0.084707        0.027441
2006-01     0.038873        0.088975
2006-02    -0.061813        0.032761
2006-03    -0.063103        0.011739
2006-04     0.445650        0.088626
...              ...             ...
2021-11     0.064914        0.081611
2021-12     0.050056        0.048813
2022-01     0.023067       -0.082702
2022-02     0.080904        0.049878
2022-03     0.000000       -0.037078

[196 rows x 2 columns]

In [42]:
# regression on next_month_return on SMB
import statsmodels.api as sm
from statsmodels import regression

test_stock.fillna(0, inplace=True)

# X = SMB_monthly['SMB_monthly'],MKT_monthly['monthly_return']
y = test_stock[['date','next_month_return']].set_index('date')
# y_shift = y.shift(1).dropna()
# y = y_shift

data_for_stock = y.index.unique()
# y = y.loc[data_for_stock]
X = X.loc[data_for_stock]

X = sm.add_constant(X)
model = regression.linear_model.OLS(y, X).fit()
alpha = model.params[0]
beta1 = model.params[1]
beta2 = model.params[2]
print('alpha: ' + str(alpha))
print('beta SMB: ' + str(beta1))
print('beta MKT: ' + str(beta2))
print(model.summary())

alpha: 0.020873707410296646
beta SMB: -0.39489463362000604
beta MKT: 0.1579142085592274
                            OLS Regression Results
==============================================================================
Dep. Variable:      next_month_return   R-squared:                       0.057
Model:                            OLS   Adj. R-squared:                  0.047
Method:                 Least Squares   F-statistic:                     5.808
Date:                Mon, 15 Jan 2024   Prob (F-statistic):            0.00356
Time:                        23:52:12   Log-Likelihood:                 170.73
No. Observations:                 195   AIC:                            -335.5
Df Residuals:                     192   BIC:                            -325.6
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const              0.0209      0.008      2.665      0.008       0.005       0.036
SMB_monthly       -0.3949      0.129     -3.068      0.002      -0.649      -0.141
monthly_return     0.1579      0.076      2.073      0.040       0.008       0.308
==============================================================================
Omnibus:                       10.176   Durbin-Watson:                   1.843
Prob(Omnibus):                  0.006   Jarque-Bera (JB):               17.548
Skew:                           0.239   Prob(JB):                     0.000155
Kurtosis:                       4.390   Cond. No.                         17.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/var/folders/md/wt8g61857ld_20f_r6rn4nk40000gn/T/ipykernel_14659/1714119941.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_stock.fillna(0, inplace=True)
/var/folders/md/wt8g61857ld_20f_r6rn4nk40000gn/T/ipykernel_14659/1714119941.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  alpha = model.params[0]
/var/folders/md/wt8g61857ld_20f_r6rn4nk40000gn/T/ipykernel_14659/1714119941.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  beta1 = model.params[1]
/var/folders/md/wt8g61857ld_20f_r6rn4nk40000gn/T/ipykernel_14659/1714119941.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  beta2 = model.params[2]

ËøòËÆ∞ÂæóÊàë‰ª¨ÁöÑshiftÂêóÔºü

In [43]:
# regression on next_month_return on SMB
import statsmodels.api as sm
from statsmodels import regression

test_stock.fillna(0, inplace=True)

# X = SMB_monthly['SMB_monthly'],MKT_monthly['monthly_return']
y = test_stock[['date','next_month_return']].set_index('date')
y_shift = y.shift(1).dropna()
y = y_shift

data_for_stock = y.index.unique()
# data_for_stock.sort()
# y = y.loc[data_for_stock]
X = X.loc[data_for_stock]

X = sm.add_constant(X)
model = regression.linear_model.OLS(y, X).fit()
alpha = model.params[0]
beta1 = model.params[1]
beta2 = model.params[2]
print('alpha: ' + str(alpha))
print('beta SMB: ' + str(beta1))
print('beta MKT: ' + str(beta2))
print(model.summary())

alpha: 0.008411295349334892
beta SMB: -0.16178903545541162
beta MKT: 0.5300906425337744
                            OLS Regression Results
==============================================================================
Dep. Variable:      next_month_return   R-squared:                       0.238
Model:                            OLS   Adj. R-squared:                  0.230
Method:                 Least Squares   F-statistic:                     29.78
Date:                Mon, 15 Jan 2024   Prob (F-statistic):           5.54e-12
Time:                        23:52:29   Log-Likelihood:                 190.00
No. Observations:                 194   AIC:                            -374.0
Df Residuals:                     191   BIC:                            -364.2
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const              0.0084      0.007      1.184      0.238      -0.006       0.022
SMB_monthly       -0.1618      0.117     -1.381      0.169      -0.393       0.069
monthly_return     0.5301      0.069      7.714      0.000       0.395       0.666
==============================================================================
Omnibus:                       14.318   Durbin-Watson:                   2.035
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               17.832
Skew:                           0.521   Prob(JB):                     0.000134
Kurtosis:                       4.058   Cond. No.                         18.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/var/folders/md/wt8g61857ld_20f_r6rn4nk40000gn/T/ipykernel_14659/1988101145.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_stock.fillna(0, inplace=True)
/var/folders/md/wt8g61857ld_20f_r6rn4nk40000gn/T/ipykernel_14659/1988101145.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  alpha = model.params[0]
/var/folders/md/wt8g61857ld_20f_r6rn4nk40000gn/T/ipykernel_14659/1988101145.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  beta1 = model.params[1]
/var/folders/md/wt8g61857ld_20f_r6rn4nk40000gn/T/ipykernel_14659/1988101145.py:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  beta2 = model.params[2]

---

# ‰∏âÂõ†Â≠êÔºåËøòÊúâ....

---

In [18]:
df_pb = pd.read_excel('Monthly_PB_and_Return.xlsx', index_col=0)
df_pb.reset_index(inplace=True)
df_pb['stock'] = df_pb['stock'].map(lambda x: str(x).zfill(6))
df_pb

            stock  name       date   return      PB  next_month_return
0       600000.SH  Êµ¶ÂèëÈì∂Ë°å 2005-12-30  10.6697  2.5770            15.5897
1       600000.SH  Êµ¶ÂèëÈì∂Ë°å 2006-01-25  15.5897  2.9788             8.1633
2       600000.SH  Êµ¶ÂèëÈì∂Ë°å 2006-02-28   8.1633  3.2219           -10.9106
3       600000.SH  Êµ¶ÂèëÈì∂Ë°å 2006-03-31 -10.9106  2.8704             0.0000
4       600000.SH  Êµ¶ÂèëÈì∂Ë°å 2006-04-28   0.0000  2.8704            20.9181
...           ...   ...        ...      ...     ...                ...
419985  003816.SZ  ‰∏≠ÂõΩÂπøÊ†∏ 2021-11-30  -0.6849  1.4650             7.9310
419986  003816.SZ  ‰∏≠ÂõΩÂπøÊ†∏ 2021-12-31   7.9310  1.5812            -7.9872
419987  003816.SZ  ‰∏≠ÂõΩÂπøÊ†∏ 2022-01-28  -7.9872  1.4549             2.0833
419988  003816.SZ  ‰∏≠ÂõΩÂπøÊ†∏ 2022-02-28   2.0833  1.4852            -7.1429
419989  003816.SZ  ‰∏≠ÂõΩÂπøÊ†∏ 2022-03-31  -7.1429  1.3662                NaN

[419990 rows x 6 columns]

In [25]:
df = df_pb.copy()
df['book_to_market'] = 1 / df['PB']
df

,stock,name,date,return,PB,next_month_return,book_to_market
0,600000.SH,Êµ¶ÂèëÈì∂Ë°å,2005-12-30,10.6697,2.5770,15.5897,0.388048
1,600000.SH,Êµ¶ÂèëÈì∂Ë°å,2006-01-25,15.5897,2.9788,8.1633,0.335706
2,600000.SH,Êµ¶ÂèëÈì∂Ë°å,2006-02-28,8.1633,3.2219,-10.9106,0.310376
3,600000.SH,Êµ¶ÂèëÈì∂Ë°å,2006-03-31,-10.9106,2.8704,0.0000,0.348384
4,600000.SH,Êµ¶ÂèëÈì∂Ë°å,2006-04-28,0.0000,2.8704,20.9181,0.348384
...,...,...,...,...,...,...,...
419985,003816.SZ,‰∏≠ÂõΩÂπøÊ†∏,2021-11-30,-0.6849,1.4650,7.9310,0.682594
419986,003816.SZ,‰∏≠ÂõΩÂπøÊ†∏,2021-12-31,7.9310,1.5812,-7.9872,0.632431
419987,003816.SZ,‰∏≠ÂõΩÂπøÊ†∏,2022-01-28,-7.9872,1.4549,2.0833,0.687332
419988,003816.SZ,‰∏≠ÂõΩÂπøÊ†∏,2022-02-28,2.0833,1.4852,-7.1429,0.673310
419989,003816.SZ,‰∏≠ÂõΩÂπøÊ†∏,2022-03-31,-7.1429,1.3662,NaN,0.731957

# TODO: Âà©Áî®Book to Market RatioÊûÑÂª∫ÊäïËµÑÁªÑÂêà

# Â¶Ç‰ΩïÂú®‰∏≠ÂõΩÂ∏ÇÂú∫Â§çÁé∞Fama-French‰∏âÂõ†Â≠êÊ®°ÂûãÔºü

### ÂèÇËÄÉÔºöliu+stambagh+yu+2019